<footer class="footer">
    <div class="footer__content">
        <div class="container">
            <div class="footer_inner">
                <div class="footer__info">
                    <div class="footer__title">
                        MANYBANK
                    </div>
                    <div class="footer__text">
                        Соверменный банк
                    </div>
                    <a href="#" class="header__btn open-popup">Бесплатная
                        консультация</a>

                    <ul class="footer__list">
                        <li><a class="footer__phone" href="tel:375297501847">+375 (29) 750 18 47</a></li>
                        <li><a href="#">Минск, ул.Воронянского, 27</a></li>
                        <li><a class="footer__adress" href="#">manyukvova@mail.ru</a></li>
                    </ul>
                </div>
                <div class="footer__map">
                    <iframe height="250px" width="630px"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2352.0245850593406!2d27.552700115858485!3d53.87799088009391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd028b8b82edd%3A0xd808e02759894542!2z0YPQuy4g0JLQvtGA0L7QvdGP0L3RgdC60L7Qs9C-IDI3LCDQnNC40L3RgdC6!5e0!3m2!1sru!2sby!4v1636801567029!5m2!1sru!2sby"
                        style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copy">
        <div class="container">
            <div class="copy__text">©2021 Template by Manyuk Vladimir. Все права защищены.</div>
        </div>
    </div>
</footer>