<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <title>{{title}}</title>

    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/slick.css">
    <link rel="stylesheet" href="/jquery.formstyler.css">
     <link rel="stylesheet" href="/style_lising.css">
    <link rel="stylesheet" href="/style.css">
</head>