<div class="popup-bg">
    <div class="popup">
        <div class="close-popup">&#10006</div>
        <p>Оставить заявку</p>
        <form action="RegConsultPop" method="post">
            <input type="text" placeholder="Ваше имя" name="ConsultNamePop" required>
            <input type="text" placeholder="Ваш телефон" name="ConsultPhonePop" required>
            <input type="text" placeholder="Ваша почта" name="ConsultMailPop" required>
            <button class="popup-btn" type="submit">Оставить заявку</button>
        </form>
    </div>
</div>


<div>
    <script src="/pop__up.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/slick.min.js"></script>
    <script src="/jquery.formstyler.min.js"></script>
    <script src="/slider.js"></script>
    <script src="/inputCheck.js"></script>
</div>