<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__contacts">
                <a class="header__phone" href="tel:375297501847">+375 (29) 750 18 47</a>
                <a class="header__email" href="mailto:manyukvova@mail.ru">manyukvova@mail.ru</a>
                <a href="#" class="header__btn open-popup">Бесплатная
                    консультация</a>
            </div>
        </div>
    </div>
    <div class="header__content">
        <div class="container">
            <div class="header__content-inner">
                <div class="header__logo">
                    <a href="/">
                        <img src="../img/logo.png" alt="">
                    </a>
                </div>
                <nav class="menu">
                    <ul>
                        <li><a href="/cards">Карты</a></li>
                        <li><a href="/credits">Кредиты</a></li>
                        <li><a href="/lising">Лизинги</a></li>
                        <li><a href="/contributions">Вклады</a></li>
                        <li><a href="/about">О банке</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>




<div>
    <script src="/pop__up.js"></script>
</div>