<section class="title__about">
    <div class="container">
        <div class="title__about-text">MANYBANK - инновационный банк с иностранным капиталом. С 2020 года
            предоставляет технологичные финансовые сервисы для частных клиентов и бизнеса. Входит в топ-10
            белорусских банков.
        </div>
    </div>
</section>

<section class="about__info">
    <div class="container">
        <ul class="brief__about">
            <li class="brief__about-item">
                <div class="article-brief__title">MANYBANK активно сотрудничает с ОАО «Банк развития Республики
                    Беларусь» и международными финансовыми институтами </div>
                <div class="article-brief__text">Европейский банк реконструкции и развития (ЕБРР), Международная
                    финансовая корпорация (IFC), Нидерландская компания финансового развития (FMO), АКА
                    Ausfuhrkredit-Gesellschaft mbH, международный финансовый институт NEFCO (Финляндия), Немецкий
                    инвестиционный фонд IIV Mikrofinanzfonds и др.</div>
            </li>
            <li class="brief__about-item">
                <div class="article-brief__title">ЗАО «MANYBANK» – член Ассоциации белорусских банков, Сообщества
                    всемирных межбанковских финансовых коммуникаций (S.W.I.F.T.)</div>
                <div class="article-brief__text">Международных платежных систем VISA International и MasterCard. С
                    начала своей деятельности Банк является универсальным и имеет на белорусском рынке репутацию
                    надежного банка. В настоящее время Банк является одним из лидеров в выдаче банковских гарантий в
                    пользу БАМАП.</div>
            </li>
            <li class="brief__about-item">
                <div class="article-brief__title">Также с 2020 года «MANYBANK» является первым банком-участником
                    Глобального Договора ООН в Беларуси </div>
                <div class="article-brief__text">В 2020 году МТБанк стал первым банком-участником Глобального
                    Договора ООН в Беларуси – общепризнанной инициативы ООН в области корпоративной социальной
                    ответственности.</div>
            </li>
            <li class="brief__about-item">
                <div class="article-brief__title">О деньгах, бизнесе, банках и идеях</div>
                <div class="article-brief__text">Уникальный блог о деньгах и не только. Каждую неделю мы публикуем
                    статьи на разные темы: лайфхаки, репортажи, тесты, технологии, образование и тд. Мы дали себе
                    слово откровенно и нескучно рассказывать о взаимоотношениях с финансами, о выгодных вложениях и
                    скидках и о том, как не тратить деньги впустую.</div>
            </li>
        </ul>
    </div>
</section>

<section class="cooperation">
    <div class="container">
        <div class="cooperation__about">
            <div class="cooperation__about-title">MANYBANK активно сотрудничает с такими международными финансовыми
                институтами, как:</div>
            <ul class="cooperation__about-grid">
                <li class="cooperation__about-item">
                    <div class="partner">
                        <div class="partner__image">
                            <img src="../img/partner/about-1.png" alt="">
                        </div>
                        <div class="partner__content">
                            Банк развития Республики Беларусь
                        </div>
                    </div>
                </li>
                <li class="cooperation__about-item">
                    <div class="partner">
                        <div class="partner__image">
                            <img src="../img/partner/about-2.png" alt="">
                        </div>
                        <div class="partner__content">
                            «Система «Расчет»
                        </div>
                    </div>
                </li>
                <li class="cooperation__about-item">
                    <div class="partner">
                        <div class="partner__image">
                            <img src="../img/partner/about3.png" alt="">
                        </div>
                        <div class="partner__content">
                            Ассоциация белорусских банков
                        </div>
                    </div>
                </li>
                <li class="cooperation__about-item">
                    <div class="partner">
                        <div class="partner__image">
                            <img src="../img/partner/about-4.png" alt="">
                        </div>
                        <div class="partner__content">
                            Европейский банк реконструкции и развития
                        </div>
                    </div>
                </li>
                <li class="cooperation__about-item">
                    <div class="partner">
                        <div class="partner__image">
                            <img src="../img/partner/about-5.png" alt="">
                        </div>
                        <div class="partner__content">
                            Голландский банк развития
                        </div>
                    </div>
                </li>
                <li class="cooperation__about-item">
                    <div class="partner">
                        <div class="partner__image">
                            <img src="../img/partner/about-6.png" alt="">
                        </div>
                        <div class="partner__content">
                            Северная экологическая финансовая корпорация
                        </div>
                    </div>
                </li>
                <li class="cooperation__about-item">
                    <div class="partner">
                        <div class="partner__image">
                            <img src="../img/partner/about-7.png" alt="">
                        </div>
                        <div class="partner__content">
                            Немецкий инвестиционный фонд IIV Mikrofinanzfonds
                        </div>
                    </div>
                </li>
                <li class="cooperation__about-item">
                    <div class="partner">
                        <div class="partner__image">
                            <img src="../img/partner/about-8.png" alt="">
                        </div>
                        <div class="partner__content">
                            Международная финансовая корпорация
                        </div>
                    </div>
                </li>
                <li class="cooperation__about-item">
                    <div class="partner">
                        <div class="partner__image">
                            <img src="../img/partner/about-9.png" alt="">
                        </div>
                        <div class="partner__content">
                            AKA Ausfuhrkredit-Gesellschaft mbH
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="section__coop">
    <div class="container">
        <div class="partners-about">
            <h2 class="partners-about__title">Информационные партнеры</h2>
            <div class="partners-about__content">
                <ul class="partners-about__list">
                    <li class="partners-about__item">ВЫБЕРИ!BY</li>
                    <li class="partners-about__item">«Дело»</li>
                    <li class="partners-about__item">Агентство новостей «Телеграф»</li>
                    <li class="partners-about__item">Myfin.by</li>
                    <li class="partners-about__item">Recard.by</li>
                    <li class="partners-about__item">«Бизнес-ревю» </li>
                    <li class="partners-about__item">Журнал «Директор»</li>
                    <li class="partners-about__item">«Ежедневник»</li>
                    <li class="partners-about__item">Про бизнес</li>
                    <li class="partners-about__item">BENEFIT BY</li>
                    <li class="partners-about__item">Bel.Biz</li>
                    <li class="partners-about__item">Select.by</li>
                    <li class="partners-about__item">CreditPortal.by</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<script src="/SmoothMovement.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/slick.min.js"></script>
<script src="/jquery.formstyler.min.js"></script>
<script src="/slider.js"></script>
<script src="/inputCheck.js"></script>