<div class="accept__box">
    <div class="container">
        <div class="accept__title">Ваша заявка принята</div>
        <div class="accept__title">В течении двух рабочих дней ваша заявка будет рассмотрена</div>
        <div class="accept__title">Мы свяжемся с вами</div>
        <div class="accept__title">Всего доброго!</div>
        <div class="accept__text">Для продолжения выберите нужный пункт в меню навигации или нажмите на кнопку внизу</div>
        <div class="close__btn">
        <a href="/cards" class="close__btn-inner">Вернуться к выбору карт</a>
        </div>

    </div>
</div>