

    <section class="top__inner-header">
        <div class="container">
            <div class="top__inner-content">
                <div class="inner__content-left">
                    <div class="content__title">Вклады</div>
                </div>
                <div class="inner__content-right">
                    <ul class="inner__header-list">
                        <li class="inner__header-item">
                            <a href="/guarantees" class="inner__content-text">Гарантии</a>
                        </li>
                        <li class="inner__header-item">
                            <a href="/guarantees_answers" class="inner__content-text">Вопрос-Ответ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="credit__menu">
        <div class="container">
            <div class="contribution__banner">
                <div class="credit__inner">
                    <div class="banner__title">Безотзывный вклад в белорусских рублях</div>
                    <div class="credit__discription">Фиксированная ставка, возможность пополнения вклада, ежемесячная
                        <br> выплата процентов или капитализация</div>
                    <div class="credits__features">
                        <div class="credits__feature">
                            <span class="credits__feature-value">до 17%</span>
                            <span class="credits__feature-label">Процентная ставка</span>
                        </div>
                        <div class="credits__feature">
                            <span class="credits__feature-value">от 50 BYN</span>
                            <span class="credits__feature-label">Минимальная сумма вклада</span>
                        </div>
                        <div class="credits__feature">
                            <span class="credits__feature-value">от 32 дней</span>
                            <span class="credits__feature-label">Срок вклада</span>
                        </div>
                    </div>
                    <div class="banner__action">
                        <div class="credit__card-cta-item">
                            <a href="#form" class="debit__card-cta-btn">Оформить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="deposit-features">
        <div class="container">
            <div class="deposit-features__grid">
                <div class="deposit-features__cell">
                    <div class="deposit__item">
                        <div class="advantage-card">
                            <div class="advantage-card__container">
                                <div class="advantage-card__image">
                                    <img src="../../img/contributions/contributions1.png" alt="">
                                </div>
                                <div class="advantage-card__inner">
                                    <div class="advantage-card-title">
                                        Гибкие условия
                                    </div>
                                    <div class="advantage-card-text">
                                        Вклад от 32 дней до 36 месяцев с возможностью пополнения.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deposit-features__cell">
                    <div class="deposit__item">
                        <div class="advantage-card">
                            <div class="advantage-card__container">
                                <div class="advantage-card__image">
                                    <img src="../../img/contributions/contributions2.png" alt="">
                                </div>
                                <div class="advantage-card__inner">
                                    <div class="advantage-card-title">
                                        Капитализация процентов
                                    </div>
                                    <div class="advantage-card-text">
                                        Проценты присоединяются к сумме вклада
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deposit-features__cell">
                    <div class="deposit__item">
                        <div class="advantage-card">
                            <div class="advantage-card__container">
                                <div class="advantage-card__image">
                                    <img src="../../img/contributions/contributions3.png" alt="">
                                </div>
                                <div class="advantage-card__inner">
                                    <div class="advantage-card-title">
                                        Дополнительные взносы
                                    </div>
                                    <div class="advantage-card-text">
                                        В зависимости от условий по вкладу вы можете совершать дополнительные взносы и
                                        увеличивать свой доход.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="replenishment">
        <div class="container">
            <div class="replenishment__inner">
                <div class="replenishment__right">
                    <h2 class="credits__item-title">
                        Пополнение вклада в отделении банка
                    </h2>
                    <ul class="registration__steps">
                        <li class="registration__step">
                            <div class="number__step">
                                <div class="number__step-left">
                                    <span class="number__step-number">1</span>
                                </div>
                                <div class="number__step-text">
                                    <span class="advantage-card-title">Выбрать удобный сервисный офис</span>
                                </div>
                            </div>
                        </li>
                        <li class="registration__step">
                            <div class="number__step">
                                <div class="number__step-left">
                                    <span class="number__step-number">2</span>
                                </div>
                                <div class="number__step-text">
                                    <span class="advantage-card-title">Обратиться к специалисту с паспортом</span>
                                </div>
                            </div>
                        </li>
                        <li class="registration__step">
                            <div class="number__step">
                                <div class="number__step-left">
                                    <span class="number__step-number">3</span>
                                </div>
                                <div class="number__step-text">
                                    <span class="advantage-card-title">Наслаждаться сотрудничеством с Банком
                                        MANYBANK</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="replenishment__left">
                    <img src="../../img/contributions/img1.jpg" alt="" class="replenishment__left-img">
                </div>
            </div>
        </div>
    </section>

    <section class="registration">
        <div class="container">
            <div class="registration__block">
                <div class="registration__credits">
                    <div class="registration__inner" id="form">
                        <div class="registration__inner-left">
                            <form action="RegContr" method="post"> 
                                <div class="credits__guide-title registration__title">Консультация по <br> открытию
                                    вклада</div>
                                <div class="form__box-inner">
                                    <div class="form__box-left">
                                        <label>
                                            ФИО
                                            <input class="form__box-input" data-rule="name" type="text" name="ContrFIO" required>
                                        </label>
                                        <label>
                                            Контактный телефон
                                            <input class="form__box-input" id="phone" type="text" name="ContrPhone" required>
                                        </label>
                                        <div class="registration__action">
                                            <button class="registration__btn" type="submit">Отправить заявку</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="registration__inner-right">
                            <ul class="registration__steps">
                                <li class="registration__step">
                                    <div class="number__step">
                                        <div class="number__step-left">
                                            <span class="number__step-number">1</span>
                                        </div>
                                        <div class="number__step-text">
                                            <span class="number__step-title">Оставьте свои данные</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="registration__step">
                                    <div class="number__step">
                                        <div class="number__step-left">
                                            <span class="number__step-number">2</span>
                                        </div>
                                        <div class="number__step-text">
                                            <span class="number__step-title">Дождитесь нашего звонка</span>
                                            <p class="numer__step-text">Мы ответим на все интересующие вас вопросы</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="registration__step">
                                    <div class="number__step">
                                        <div class="number__step-left">
                                            <span class="number__step-number">3</span>
                                        </div>
                                        <div class="number__step-text">
                                            <span class="number__step-title">Задать вопрос онлайн</span>
                                            <p class="numer__step-text">Получить консультацию вы также можете с помощью
                                                чата на сайте</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


        <script src="/SmoothMovement.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/slick.min.js"></script>
        <script src="/jquery.formstyler.min.js"></script>
        <script src="/slider.js"></script>
        <script src="/inputCheck.js"></script>
        <script src="/jquery.formstyler.min.js"></script>
        <script src="/jquery.maskedinput.js"></script>
        <script src="/jquery.fancybox.min.js"></script>
        <script src="/common.js"></script>
        <script src="/jquery.min.js"></script>

    
