<section class="top__inner-header">
    <div class="container">
        <div class="top__inner-content">
            <div class="inner__content-left">
                <div class="content__title">Потребительские кредиты</div>
            </div>
            <div class="inner__content-right">
                <ul class="inner__header-list">
                    <li class="inner__header-item">
                        <a href="/payKr" class="inner__content-text">Как оплатить кредит?</a>
                    </li>
                    <li class="inner__header-item">
                        <a href="/klient" class="inner__content-text">Клиентам MANYBANK</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="credit__menu">
    <div class="container">
        <div class="credit__baner">
            <div class="credit__inner">
                <div class="banner__title">Потребительский кредит «Проще простого»</div>
                <div class="credit__discription">Быстрое оформление без справок и поручителей</div>
                <div class="credits__features">
                    <div class="credits__feature">
                        <span class="credits__feature-value">29.93% годовых</span>
                        <span class="credits__feature-label">Процентная ставка</span>
                    </div>
                    <div class="credits__feature">
                        <span class="credits__feature-value">25 000 BYN</span>
                        <span class="credits__feature-label">Макс. сумма кредита</span>
                    </div>
                    <div class="credits__feature">
                        <span class="credits__feature-value">от 6 до 84 месяцев </span>
                        <span class="credits__feature-label">Срок погашения кредита</span>
                    </div>
                </div>
                <div class="banner__action">
                    <div class="credit__card-cta-item">
                        <a href="#form" class="debit__card-cta-btn">Оформить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="deposit-features">
    <div class="container">
        <div class="deposit-features__grid">
            <div class="deposit-features__cell">
                <div class="deposit__item">
                    <div class="advantage-card">
                        <div class="advantage-card__container">
                            <div class="advantage-card__image">
                                <img src="../../img/credits/credits.png" alt="">
                            </div>
                            <div class="advantage-card__inner">
                                <div class="advantage-card-title">
                                    Прозрачность
                                </div>
                                <div class="advantage-card-text">
                                    Без скрытых комиссий – только ставка.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="deposit-features__cell">
                <div class="deposit__item">
                    <div class="advantage-card">
                        <div class="advantage-card__container">
                            <div class="advantage-card__image">
                                <img src="../../img/credits/credits2.png" alt="">
                            </div>
                            <div class="advantage-card__inner">
                                <div class="advantage-card-title">
                                    На любые цели
                                </div>
                                <div class="advantage-card-text">
                                    Сумма кредита от 500 до 5 000 BYN, срок кредита от 6 до 36 месяцев.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="deposit-features__cell">
                <div class="deposit__item">
                    <div class="advantage-card">
                        <div class="advantage-card__container">
                            <div class="advantage-card__image">
                                <img src="../../img/credits/credits3.png" alt="">
                            </div>
                            <div class="advantage-card__inner">
                                <div class="advantage-card-title">
                                    Доступность
                                </div>
                                <div class="advantage-card-text">
                                    Без справки о доходах, залога и поручителей.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="deposit-features__cell">
                <div class="deposit__item">
                    <div class="advantage-card">
                        <div class="advantage-card__container">
                            <div class="advantage-card__image">
                                <img src="../../img/credits/credits4.png" alt="">
                            </div>
                            <div class="advantage-card__inner">
                                <div class="advantage-card-title">
                                    Досрочное погашение
                                </div>
                                <div class="advantage-card-text">
                                    Без штрафов и комиссий.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="deposit-features__cell">
                <div class="deposit__item">
                    <div class="advantage-card">
                        <div class="advantage-card__container">
                            <div class="advantage-card__image">
                                <img src="../../img/credits/credits5.png" alt="">
                            </div>
                            <div class="advantage-card__inner">
                                <div class="advantage-card-title">
                                    Медицинская страховка
                                </div>
                                <div class="advantage-card-text">
                                    Возможность заключения договора добровольного страхования медицинских расходов.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="deposit-features__cell">
                <div class="deposit__item">
                    <div class="advantage-card">
                        <div class="advantage-card__container">
                            <div class="advantage-card__image">
                                <img src="../../img/credits/credits6.png" alt="">
                            </div>
                            <div class="advantage-card__inner">
                                <div class="advantage-card-title">
                                    Зачисление на карту
                                </div>
                                <div class="advantage-card-text">
                                    Карта предоставляется бесплатно.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="guide__credits">
    <div class="container">
        <span class="credits__guide-title">
            Как оформить кредит?
        </span>
    </div>
</section>

<section class="credit__menu">
    <div class="container">
        <div class="credit__guide">
            <div class="credit__guide-inner">
                <a href="#form" class="credit__guide-link"></a>
                <div class="credit__guide-info">
                    <div class="credits__item-title">Оставьте заявку на сайте</div>
                    <div class="credits__item-text">Дождитесь предварительного решения и получите кредит в
                        отделении
                        МТБанка или с доставкой на дом.</div>
                    <div class="credits__item-action">
                        <a href="#form" class="credits__guide-action">Оставить заявку</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="credit__guide">
            <div class="credit__guide-inner">
                <a href="#" class="credit__guide-link open-popup"></a>
                <div class="credit__guide-info">
                    <div class="credits__item-title">Для вопросов</div>
                    <div class="credits__item-text">Получите консультацию по оформлению кредитов у специалиста
                        МТБанка: <span><a href="tel:+375297501847" class="credit__tel-link"> +375 (29) 750 18
                                47</a>
                        </span>
                    </div>
                    <div class="credits__item-action">
                        <a data-fancybox data-src="#modal" href="javascript:;" class="credits__guide-action"
                            href="#">Оставить заявку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="loan__repayment">
    <div class="container">
        <div class="loan__baner">
            <div class="loan__inner">
                <h2 class="credits__guide-title loan__banner-title">Погашайте кредит как вам удобно</h2>
                <p class="advantage-card-text loan__banner-text">Выбирайте онлайн- или офлайн-погашение</p>
                <div class="loan__row">
                    <div class="loan__cell">
                        <div class="loan__cell-item">
                            <div class="loan__cell-img">
                                <img src="../../img/credits/ch1.png" alt="" class="loan__img">
                            </div>
                            <div class="loan__cell-content">
                                <span class="loan__content-title">Онлайн-погашение</span>
                                <p class="loan__content-text">Погашайте кредит через интернет-банк или сервис переводов
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="loan__cell">
                        <div class="loan__cell-item">
                            <div class="loan__cell-img">
                                <img src="../../img/credits/ch2.png" alt="" class="loan__img">
                            </div>
                            <div class="loan__cell-content">
                                <span class="loan__content-title">Офлайн-погашение
                                </span>
                                <p class="loan__content-text">Погашайте кредит в отделениях MANYBANKa, инфокиосках
                                    банков Беларуси или терминалах РУП «Белпочта».</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="registration">
    <div class="container">
        <div class="registration__block">
            <div class="registration__credits">
                <div class="registration__inner" id="form">
                    <div class="registration__inner-left">
                        <form action="RegCred" method="post">
                            <div class="credits__guide-title registration__title">Заявка на кредит</div>
                            <div class="form__box-inner">
                                <div class="form__box-left">
                                    <label>
                                        ФИО
                                        <input class="form__box-input" data-rule="name" type="text" name="CredFIO" required>
                                    </label>
                                    <label>
                                        Контактный телефон
                                        <input class="form__box-input" id="phone" type="text" name="CredPhone" required>
                                    </label>
                                    <label>
                                        E-mail
                                        <input class="form__box-input" type="email" name="CredMail" required>
                                    </label>
                                    <div class="registration__action">
                                        <button class="registration__btn" type="submit">Отправить заявку</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="registration__inner-right">
                        <ul class="registration__steps">
                            <li class="registration__step">
                                <div class="number__step">
                                    <div class="number__step-left">
                                        <span class="number__step-number">1</span>
                                    </div>
                                    <div class="number__step-text">
                                        <span class="number__step-title">Оставьте заявку</span>
                                        <p class="numer__step-text">Мы свяжемся с вами в день обращения</p>
                                    </div>
                                </div>
                            </li>
                            <li class="registration__step">
                                <div class="number__step">
                                    <div class="number__step-left">
                                        <span class="number__step-number">2</span>
                                    </div>
                                    <div class="number__step-text">
                                        <span class="number__step-title">Дождитесь предварительного решения</span>
                                        <p class="numer__step-text">Банк ответит в кратчайшие сроки</p>
                                    </div>
                                </div>
                            </li>
                            <li class="registration__step">
                                <div class="number__step">
                                    <div class="number__step-left">
                                        <span class="number__step-number">3</span>
                                    </div>
                                    <div class="number__step-text">
                                        <span class="number__step-title">Получите деньги в отделении</span>
                                        <p class="numer__step-text">С паспортом или видом на жительство. Или
                                            закажите кредит с доставкой на дом! </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


    <script src="/pop__up.js"></script>
<script src="/SmoothMovement.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/slick.min.js"></script>
<script src="/jquery.formstyler.min.js"></script>
<script src="/slider.js"></script>
<script src="/inputCheck.js"></script>
<script src="/jquery.formstyler.min.js"></script>
<script src="/jquery.maskedinput.js"></script>
<script src="/jquery.fancybox.min.js"></script>
<script src="/common.js"></script>
<script src="/jquery.min.js"></script>