    <section class="rules__header">
        <div class="container">
            <div class="rules__title">
                Гарантии
            </div>
        </div>
    </section>

    <section class="guarantees__text">
        <div class="container">
            <p class="payKr__text">
                Государство гарантирует полную сохранность и 100% возврат денежных средств физических лиц, размещенных
                на счетах и (или) во вкладах (депозитах) в банках Республики Беларусь.
            </p>
            <p class="payKr__text">
                В соответствии с:
            </p>
            <ul class="faq__title">
                <li>
                    <a href="http://www.nbrb.by/legislation/documents/l_369-z.pdf">Законом Республики Беларусь от
                        08.07.2008 г. № 369-З «О гарантированном возмещении банковских вкладов (депозитов) физических
                        лиц»</a>
                </li>
                <li>
                    <a href="https://www.nbrb.by/legislation/documents/D22_3.pdf">Декретом Президента Республики
                        Беларусь от 04.11.2008 г. №22 «О гарантиях сохранности денежных средств физических лиц,
                        размещенных на счетах и (или) в банковские вклады (депозиты)»</a>
                </li>
            </ul>

            <p class="payKr__text">
                21 января 2009г. ЗАО "MANYBANK" принят на учет в государственное учреждение <a href="https://www.adc.by/">"Агентство по гарантированному возмещению банковских вкладов (депозитов)
                    физических лиц"</a>
            </p>
        </div>
    </section>

    <section class="registration">
        <div class="container">
            <div class="registration__block">
                <div class="registration__credits">
                    <div class="registration__inner" id="form">
                        <div class="registration__inner-left">
                            <form>
                                <div class="credits__guide-title registration__title">Консультация по <br> открытию
                                    вклада</div>
                                <div class="form__box-inner">
                                    <div class="form__box-left">
                                        <label>
                                            ФИО
                                            <input type="text">
                                        </label>
                                        <label>
                                            Контактный телефон
                                            <input type="text">
                                        </label>
                                        <div class="registration__action">
                                            <button class="registration__btn" type="submit">Отправить заявку</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="registration__inner-right">
                            <ul class="registration__steps">
                                <li class="registration__step">
                                    <div class="number__step">
                                        <div class="number__step-left">
                                            <span class="number__step-number">1</span>
                                        </div>
                                        <div class="number__step-text">
                                            <span class="number__step-title">Оставьте свои данные</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="registration__step">
                                    <div class="number__step">
                                        <div class="number__step-left">
                                            <span class="number__step-number">2</span>
                                        </div>
                                        <div class="number__step-text">
                                            <span class="number__step-title">Дождитесь нашего звонка</span>
                                            <p class="numer__step-text">Мы ответим на все интересующие вас вопросы</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="registration__step">
                                    <div class="number__step">
                                        <div class="number__step-left">
                                            <span class="number__step-number">3</span>
                                        </div>
                                        <div class="number__step-text">
                                            <span class="number__step-title">Задать вопрос онлайн</span>
                                            <p class="numer__step-text">Получить консультацию вы также можете с помощью
                                                чата на сайте</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


        <script src="/SmoothMovement.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/slick.min.js"></script>
        <script src="/slick.min.js"></script>
        <script src="/jquery.formstyler.min.js"></script>
        <script src="/slider.js"></script>
        <script src="/accordion.js"></script>
