    <section class="rules__header">
        <div class="container">
            <div class="rules__title">
                Вопрос-ответ
            </div>
        </div>
    </section>

    <section class="accordion__doc">
        <div class="container">
            <div class="deposit-documents">
                <div class="accordion-item">
                    <div class="accordion__title">
                        МОЖНО ЛИ С КАРТЫ В BYN ОТКРЫТЬ ВАЛЮТНЫЙ ДЕПОЗИТ?
                    </div>
                    <div class="accordion__text">
                        <p class="payKr__text">С карты в BYN можно открыть только депозит в BYN. С валютной карты можно
                            открыть только валютный депозит.</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion__title">
                        ПРЕДУСМОТРЕНО ЛИ ЧАСТИЧНОЕ СНЯТИЕ ДЕНЕЖНЫЕ СРЕДСТВА С ДЕПОЗИТА?
                    </div>
                    <div class="accordion__text">
                        <p class="payKr__text">Частичное снятие денежных средств, за исключением процентов, не
                            предусмотрено.</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion__title">
                        В КАКИХ СЛУЧАЯХ МОЖНО РАСТРОГНУТЬ БЕЗОТЗЫВНЫЙ ДЕПОЗИТ И КАКИЕ ДОКУМЕНТЫ ДЛЯ ЭТОГО НУЖНЫ?
                    </div>
                    <div class="accordion__text">
                        <div class="credits__guide-title">Причинами для расторжения безотзывного депозита могут быть:
                        </div>
                        <div class="faq__title">
                            <li>болезнь/необходимость в операции;</li>
                            <li>отпуск по беременности и родам и отпуск по уходу за ребенком до достижения возраста 3-х
                                лет владельца депозитного счета и/или его супруга);
                            </li>
                            <li>потеря источника дохода;</li>
                            <li>изменение условий оплаты труда или увольнение с работы;</li>
                            <li>несчастья в семье (смерть близкого родственника, пожар и т.д.);</li>
                            <li>другие непредвиденные обстоятельства.</li>
                        </div>
                        <div class="credits__guide-title">Видами подтверждающих документов могут быть:</div>
                        <div class="faq__title">
                            <li>справка с места работы;</li>
                            <li>копия трудовой книжки;
                            </li>
                            <li>копия листка нетрудоспособности;</li>
                            <li>медицинские заключения, справки и т. п.</li>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion__title">
                        МОЖНО ЛИ ПЕРЕВОДИТЬ ПРОЦЕНТНЫЙ ДОХОД С ДЕПОЗИТА НА КАРТУ БЕзЗ ОБРАЩЕНИЯ В ОТДЕЛЕНИЕ БАНКА?
                    </div>
                    <div class="accordion__text">
                        <p class="payKr__text">В течение срока депозита доступно снятие процентов с использованием СДБО
                            «Мой Банк».</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion__title">
                        В КАКИХ СЛУЧАЯХ С ДОХОДОВ В ВИДЕ ПРОЦЕНТОВ ПО ДЕПОЗИТАМ УДЕРЖИВАЕТСЯ ПОДОХОДНЫЙ НАЛОГ?
                    </div>
                    <div class="accordion__text">
                        <div class="credits__guide-title">Подоходный налог будет удерживаться с доходов, полученных
                            физическими лицами, в виде процентов, начисленных по ставке выше ставки до востребования, по
                            следующим вкладам (депозитам):</div>
                            <div class="faq__title">
                                <li>в белорусских рублях – сроком менее 1 года;</li>
                                <li>в иностранной валюте – сроком менее 2 лет.</li>
                            </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion__title">
                        МОЖЕТ ЛИ ТРЕТЬЕ ЛИЦО ПРПОЛНЯТЬ ДЕПОЗИТ ИЛИ СНИМАТЬ ИЛИ СНИМАТЬ ПРОЦЕНТЫ?
                    </div>
                    <div class="accordion__text">
                        <p class="payKr__text">Пополнять депозит может владелец счета, а также 3-е лицо (со своим паспортом, зная при этом ФИО владельца счета и номер счета).</p>
                        <p class="payKr__text">Снятие денежных средств доступно только владельцу счета. Снимать денежные средства может также доверенное лицо (со своим паспортом и доверенностью).</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


        <script src="/SmoothMovement.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/slick.min.js"></script>
        <script src="/jquery.formstyler.min.js"></script>
        <script src="/slider.js"></script>
        <script src="/accordion.js"></script>
