<section class="slider">
    <div class="container">
        <div class="slier__inner">
            <div class="slider__item">
                <div class="slider__item-content">
                    <div class="slider__title">
                        Карты
                    </div>
                    <div class="slider__text">
                        Мгновенное оформелние заяки на банковскию карту
                    </div>
                    <a href="/cards" class="slider__btn default-btn">
                        Оформить
                    </a>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item-content">
                    <div class="slider__title">
                        Кредиты
                    </div>
                    <div class="slider__text">
                        Кредиты на выгодных условиях с фиксированной процентной ставкой в белорусских рублях
                    </div>
                    <a href="/credits" class="slider__btn default-btn">
                        Оформить
                    </a>
                </div>

            </div>
            <div class="slider__item">
                <div class="slider__item-content">
                    <div class="slider__title">
                        Автолизинг для физических лиц
                    </div>
                    <div class="slider__text">
                        Лизинг на выгодных условиях с фиксированной процентной ставкой в белорусских рублях
                    </div>
                    <a href="/lising" class="slider__btn default-btn">
                        Оформить
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="services__top">
            <div class="services__title-box">
                <div class="services__title">
                    Наши Услуги
                </div>
                <div class="services__text">
                    Комплексный подход к вашему вопросу, современная правовую помощь, представление
                    интересов во всех судебных инстанциях.
                </div>
            </div>
        </div>
        <div class="services__items">
            <div class="services__item">
                <img src="img/about-1.png" alt="">
                <div class="services__item-title">
                    Оформление банковских карт онлайн
                </div>
                <div class="services__item-text">
                    <ul>
                        <p>Дизайн на ваш вкус.</p>
                        <p>Безопасные платежи в сети интернет.</p>
                        <p>Доступ к деньгам 24/7.</p>
                        <p>Скидки и специальные предложения.</p>
                    </ul>
                </div>
                <div class="services__item-btn">
                    <a class="services__item-link" href="/cards">Подробнее</a>
                    <a href="/cards" class="default-btn">
                        Заказать
                    </a>
                </div>
            </div>
            <div class="services__item">
                <img src="img/about-2.png" alt="">
                <div class="services__item-title">
                    Кредиты
                </div>
                <div class="services__item-text">
                    Банк «MANYBANK» предлагает оформить потребительский кредит на любые случаи жизни: от открытия
                    собственного бизнеса и покупки автомобиля до путешествия и подарков близким на праздники. Мы
                    предоставим необходимую сумму на самых выгодных условиях
                </div>
                <div class="services__item-btn">
                    <a class="services__item-link" href="/credits">Подробнее</a>
                    <a href="/credits" class="default-btn">
                        Подобрать
                    </a>
                </div>
            </div>
            <div class="services__item">
                <img src="img/about-3.png" alt="">
                <div class="services__item-title">
                    Вклады
                </div>
                <div class="services__item-text">
                    Откройте вклад в Банке под высокий процент и каждый месяц получайте дополнительный доход! Банк
                    «Решение» предлагает денежные вклады в белорусских и российских рублях, евро и долларах с
                    возможностью досрочного расторжения. Изучайте условия и делайте выбор в пользу самого выгодного
                    для вас варианта!
                </div>
                <div class="services__item-btn">
                    <a class="services__item-link" href="/contributions">Подробнее</a>
                    <a href="/contributions" class="default-btn">
                        оформить
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__title">
                О компании
            </div>
            <div class="about__text">
                Мы предоставляем взвешенные решения для любых финансовых задач. Наш сервис экономит время, деньги и
                нервы, чтобы Вы могли заниматься любимым делом.
            </div>
            <div class="about__text">
                Мы стремимся стать высокотехнологичным цифровым банком с доступными продуктами и индивидуальными
                решениями, которые сделают жизнь людей легче.
            </div>
            <a href="/about" class="about__btn default-btn">
                Узнать больше
            </a>
        </div>
    </div>
</section>

<section class="form">
    <div class="container">
        <div class="form__inner">
            <div class="form__content">
                <div class="form__title-box">
                    <div class="form__title">
                        Получить Консультацию
                    </div>
                    <div class="form__text">
                        Комплексный подход к вашему вопросу, своевременная правовую помощь, представление
                        интересов во всех
                        судебных инстанциях.
                    </div>
                </div>
                <div class="form__box">
                    <form action="RegConsult" method="post">
                        <div class="form__box-inner">
                            <div class="form__box-left">
                                <label>
                                    ФИО
                                    <input class="form__box-input" data-rule="name" type="text" name="ConsultName" required>
                                </label>
                                <label>
                                    Контактный телефон
                                    <input class="form__box-input" type="text" id="phone" name="ConsultPhone" required>
                                </label>
                                <label>
                                    E-mail
                                    <input class="form__box-input" type="email" name="ConsultMail" required>
                                </label>
                                <label>
                                    Тема вопроса
                                    <Select name="ConsultTopic">
                                        <option>Проблемы с транзикциями</option>
                                        <option>Проблема с оплатой</option>
                                        <option>Проблема с личным счетом</option>

                                    </Select>
                                </label>
                            </div>
                            <div class="form__box-right">
                                <label>
                                    Сообщение
                                    <textarea name="ConsultMessage" name="ConsultMessage" required></textarea>
                                </label>
                                <button class="default-btn" type="submit">Получить консультацию</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="advantages">
    <div class="container">
        <div class="advantages__inner">
            <div class="advantages-item">
                <div class="advantages__title">
                    Десятки добровольных ликвидаций ежемесячно
                </div>
                <div class="advantages__text">
                    Мы умеем минимизировать все риски в процессе добровольной ликвидации юридических лиц.
                </div>
            </div>
            <div class="advantages-item">
                <div class="advantages__title">
                    Отличное знание законов в сфере банкротства
                </div>
                <div class="advantages__text">
                    Позволяют нам эффективно отстаивать как интересы кредиторов, так и интересы собственников
                    проблемной организации.
                </div>
            </div>
            <div class="advantages-item">
                <div class="advantages__title">
                    Большой опыт сопровождения банкротства
                </div>
                <div class="advantages__text">
                    Мы обладаем большим опытом сопровождения процедур банкротства предприятий.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="news">
    <div class="container">
        <div class="news__top">
            <div class="news__title-box">
                <div class="news__title">
                    Новости Компании
                </div>
                <div class="news__text">
                    Комплексный подход к вашему вопросу, своевременная правовую помощь, представление интересов во
                    всех судебных инстанциях.
                </div>
            </div>
        </div>

        <div class="news__inner">
            <div class="news__slider">
                <div class="news__slider-inner">
                    <div class="news__slider-item">
                        <div class="news__slider-title">
                            О деньгах, бизнесе, банках и идеях
                        </div>
                        <div class="news__slider-text">
                            Уникальный блог о деньгах и не только. Каждую неделю мы публикуем статьи на разные темы:
                            лайфхаки, репортажи, тесты, технологии, образование и тд. Подписывайтесь на рассылку или
                            на наш канал в Яндекс.Дзен, чтобы не пропустить новые публикации. Мы дали себе слово
                            откровенно и нескучно рассказывать о взаимоотношениях с финансами, о выгодных вложениях
                            и скидках и о том, как не тратить деньги впустую. Если есть у вас любые вопросы на тему
                            денег - вам в МТБлог.
                        </div>
                        <div class="news__slider-author">
                            Манюк Владимир, генеральный директор компании "MANYBANK"
                        </div>
                    </div>

                    <div class="news__slider-item">
                        <div class="news__slider-title">
                            MANYBANK активно сотрудничает с ОАО «Банк развития Республики Беларусь» и международными
                            финансовыми институтами
                        </div>
                        <div class="news__slider-text">
                            Европейский банк реконструкции и развития (ЕБРР), Международная финансовая корпорация
                            (IFC), Нидерландская компания финансового развития (FMO), АКА Ausfuhrkredit-Gesellschaft
                            mbH, международный финансовый институт NEFCO (Финляндия), Немецкий инвестиционный фонд
                            IIV Mikrofinanzfonds и др.
                        </div>
                        <div class="news__slider-author">
                            Манюк Владимир, генеральный директор компании "MANYBANK"
                        </div>
                    </div>
                    <div class="news__slider-item">
                        <div class="news__slider-title">
                            ЗАО «MANYBANK» – член Ассоциации белорусских банков, Сообщества всемирных межбанковских
                            финансовых коммуникаций (S.W.I.F.T.)
                        </div>
                        <div class="news__slider-text">
                            Международных платежных систем VISA International и MasterCard. С начала своей
                            деятельности Банк является универсальным и имеет на белорусском рынке репутацию
                            надежного банка. В настоящее время Банк является одним из лидеров в выдаче банковских
                            гарантий в пользу БАМАП.
                        </div>
                        <div class="news__slider-author">
                            Манюк Владимир, генеральный директор компании «MANYBANK»
                        </div>
                    </div>
                </div>
            </div>
            <a class="news__blog" href="#">
                <div class="news__images">
                    <img src="img/news-1.jpg" alt="">
                    <div class="news__date">13.10</div>
                </div>
                <div class="news__blog-title">Новость компании</div>
                <div class="news__blog-text">Результаты проведения очного внеочередного Общего собрания акционеров
                    ЗАО «MANYBANK» от 1 ноября 2021 год
                </div>
            </a>
            <a class="news__blog" href="#">
                <div class="news__images">
                    <img src="img/news-2.jpg" alt="">
                    <div class="news__date">13.10</div>
                </div>
                <div class="news__blog-title">Новость компании</div>
                <div class="news__blog-text">Покупайте на самой большой распродаже года с картами PayOkay и Халва
                    Плюс
                </div>

            </a>
        </div>
    </div>
</section>



<script src="/pop__up.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/slick.min.js"></script>
<script src="/jquery.formstyler.min.js"></script>
<script src="/slider.js"></script>
<script src="/inputCheck.js"></script>
<script src="/jquery.formstyler.min.js"></script>
<script src="/jquery.maskedinput.js"></script>
<script src="/jquery.fancybox.min.js"></script>
<script src="/common.js"></script>
<script src="/jquery.min.js"></script>