    <section class="rules__header">
        <div class="container">
            <div class="rules__title">
                Клиентам MANYBANK
            </div>
        </div>
    </section>

    <section class="accordion__doc">
        <div class="container">
            <div class="deposit-documents">
                <p class="payKr__text">С 1 июля 2021 года для клиентов, заключивших с MANYBANK договоры о совершении
                    сделок кредитного характера, изменились критерии отнесения кредитного договора к определенной группе
                    риска и появились дополнительные признаки негативной информации о способностях должника исполнять
                    свои договорные обязательства.</p>
                <p class="payKr__text">Изменения касаются как действующих так и вновь заключенных договоров с
                    физическими (ФЛ), юридическими лицами (ЮЛ) и индивидуальными предпринимателями (ИП) о совершении
                    операций кредитного характера:</p>
                <div class="faq__title">
                    <li>кредит,</li>
                    <li>лизинг,</li>
                    <li>банковская гарантия,</li>
                    <li>поручительство,</li>
                    <li>иные операции, которым присущ кредитный риск.</li>
                </div>
                <p class="payKr__text">С 1 июля 2021 года Клиенты банка обязаны письменно информировать MANYBANK в
                    течение
                    5 рабочих дней с момента наступления одного или нескольких из перечисленных событий:</p>
                <div class="faq__title">
                    <li>вступление в силу решения уполномоченного государственного органа о взыскании штрафных санкций в
                        размере более 50% активов Клиента-ЮЛ, указанных в балансе по состоянию на последнюю квартальную
                        дату;</li>
                    <li>возникновение просроченной задолженности перед банками длительностью более 30 календарных дней
                        по уплате процентов, комиссионных и иных аналогичных платежей, неустойки (штраф, пеня) по
                        операциям, подверженным кредитному риску (кредит, лизинг, факторинг, банковская гарантия,
                        поручительство, аккредитив с отсрочкой предоставления покрытия, выпуск облигаций с продажей их
                        банку и иные операции, которым присущ кредитный риск);</li>
                    <li>вступление в законную силу решения суда о привлечении Клиента-ФЛ, Клиента-ИП предпринимателя к
                        уголовной ответственности за преступления против собственности и порядка осуществления
                        экономической деятельности и (или) иные преступления, повлекшие лишение свободы и (или)
                        конфискацию имущества;</li>
                    <li>приостановление, прекращение действия, аннулирование (отзыв) специальных разрешений (лицензий)
                        на один или несколько видов осуществляемой деятельности, в том числе работ и (или) услуг,
                        составляющих эти виды деятельности Клиента-ЮЛ и Клиента-ИП. При этом Клиент должен дополнительно
                        проинформировать о причинах наступления такого события;</li>
                    <li>вступление в законную силу решения суда о привлечении руководителей, участников, собственников
                        имущества, акционеров Клиента-ЮЛ к уголовной ответственности за преступления против
                        собственности и порядка осуществления экономической деятельности;
                    </li>
                    <li>приостановление уполномоченными органами операций по счетам Клиента;
                    </li>
                    <li>наличие фактов недобросовестного исполнения Клиентом обязательств перед банками и/или кредитной
                        истории, свидетельствующей о фактах недобросовестного исполнения обязательств перед иными
                        лицами;
                    </li>
                    <li>участие Клиента в качестве ответчика в судебном разбирательстве, связанном с недобросовестным
                        исполнением своих договорных обязательств, если сумма иска к Клиенту превышает 20% активов
                        Клиента, указанных в балансе по состоянию на последнюю квартальную дату. Для Клиента-ЮЛ,
                        освобожденного от ведения бухгалтерского учета и отчетности, для Клиента-ИП, для Клиента-ФЛ –
                        если сумма иска к Клиенту превышает 50% суммы всех действующих операций, подверженных кредитному
                        риску, совершаемых с клиентом;
                    </li>
                    <p class="payKr__text">Клиенты-ЮЛ и Клиенты-ИП предоставляют письменные сведения клиент-менеджеру,
                        кредитному эксперту либо операционисту MANYBANK.</p>
                    <p class="payKr__text">Клиенты-ФЛ предоставляют письменные сведения по адресу: г.Минск, улица
                        Воронянского, 27, в канцелярию, приемную или работнику отдела сопровождения кредитных операций
                        Управления обслуживания розничных операций, либо на адрес электронной почты credit@MANYBANK.by</p>
                </div>
            </div>
        </div>
    </section>

        <script src="/SmoothMovement.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/slick.min.js"></script>
        <script src="/jquery.formstyler.min.js"></script>
        <script src="/slider.js"></script>
        <script src="/accordion.js"></script>