    <section class="limits__header">
        <div class="container">
            <div class="content__title">
                Лимиты по транзакциям
            </div>
        </div>
    </section>

    <section class="limits__container">
        <div class="container">
            <div class="limits__title">
                <p>Уважаемые держатели платежных карточек MANYBANK!</p>
                <p>Для платежных карточек МТБанка установлены следующие лимиты по транзакциям:</p>
                <p>1. Дневные и недельные лимиты на количество и сумму транзакций снятия наличных денежных средств и
                    безналичной оплаты (установлены с 01.01.2022):</p>
            </div>

            <div class="accordion-item">
                <div class="accordion__title">
                    Лимиты по транзакциям
                </div>
                <div class="accordion__text">
                    <img src="../../../img/limits/limits.png" alt="">
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion__title">
                    Лимиты для банковских платежных карточек, выданных в рамках Тарифного плана "Дело техники"
                </div>
                <div class="accordion__text">
                    <img src="../../../img/limits/limits2.png" alt="">
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion__title">
                    Лимиты для банковских платежных карточек, выданных в рамках Тарифных планов по карте "Денежная"
                </div>
                <div class="accordion__text">
                    <img src="../../../img/limits/limits3.png" alt="">
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion__title">
                    Лимиты для банковских платежных карточек, выданных в рамках Тарифных планов по карте "Денежная" для
                    врачей и учителей
                </div>
                <div class="accordion__text">
                    <img src="../../../img/limits/limits4.png" alt="">
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion__title">
                    Лимиты для банковских платежных карточек, выданных в рамках Тарифных планов "Карта "Проще простого",
                    "Потребительский кредит Проще простого"
                </div>
                <div class="accordion__text">
                    <img src="../../../img/limits/limits5.png" alt="">
                </div>
            </div>

            <div class="limits__title">
                <p>Клиент имеет право изменять данные лимиты письменным заявлением или через систему дистанционного
                    банковского обслуживания Интернет-банк (за исключением лимитов на безналичные операции оплаты в
                    казино в месяц).</p>
                <p>2. Специальные лимиты по безналичным операциям (установлены с 01.01.2022):</p>
            </div>

            <div class="accordion-item">
                <div class="accordion__title">
                    Специальные лимиты по некоторым платежным карточкам
                </div>

                <div class="accordion__text">
                    <img src="../../../img/limits/limits6.png" alt="">
                </div>
            </div>

            <div class="limits__title">
                <p>3. Ограничения на снятие наличных денежных средств за границей:</p>
                <p>C целью минимизации рисков совершения мошеннических операций по банковским платежным карточкам,
                    эмитированным ЗАО «MANYBANK», установлен запрет на снятие наличных денежных средств в банкоматах со
                    считыванием магнитной полосы в Китае и Филиппинах, а также введены следующие ограничения на снятие
                    наличных денежных средств в банкоматах со считыванием магнитной полосы на территории стран с
                    повышенным риском мошенничества:</p>
            </div>

            <div class="limits__title">
                <li>лимит в 150 BYN за скользящие сутки в банкоматах Индии;</li>
                <li>лимит в 100 BYN за скользящие сутки в банкоматах Индонезии;</li>
                <li>лимит в 100 BYN за скользящие сутки в банкоматах Непала.</li>
            </div>

            <div class="limits__title">
                <p style="padding-bottom: 20px;">В случае необходимости указанные ограничения могут быть сняты на срок пребывания в одной из
                    перечисленных стран при обращении держателя карточки в Контакт-центр Банка по телефонам: +375 (29) 750 18 47.</p>
            </div>
        </div>
    </section>


   <script src="/SmoothMovement.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/slick.min.js"></script>
        <script src="/jquery.formstyler.min.js"></script>
        <script src="/slider.js"></script>
        <script src="/accordion.js"></script>