<section class="top__inner-header">
    <div class="container">
        <div class="top__inner-content">
            <div class="inner__content-left">
                <div class="content__title">Автолизинг для физических лиц</div>
            </div>
            <div class="inner__content-right">
                <ul class="inner__header-list">
                    <li class="inner__header-item">
                        <a href="/tariffs" class="inner__content-text">Тарифы и условия</a>
                    </li>
                    <li class="inner__header-item">
                        <a href="/lising_answers" class="inner__content-text">Вопрос-ответ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="credit__menu">
    <div class="container">
        <div class="lising__baner">
            <div class="credit__inner">
                <div class="banner__title">Новые автомобили и подержанные автомобили в лизинг</div>
                <div class="credit__discription">Быстрое оформление без справок и поручителей</div>
                <div class="credits__features">
                    <div class="credits__feature">
                        <span class="credits__feature-value">До 150 000 BYN</span>
                        <span class="credits__feature-label">Сумма финансирования</span>
                    </div>
                    <div class="credits__feature">
                        <span class="credits__feature-value">До 7 лет</span>
                        <span class="credits__feature-label">Срок финансирования</span>
                    </div>
                    <div class="credits__feature">
                        <span class="credits__feature-value">Без справки о доходах</span>
                        <span class="credits__feature-label">Вам понадобится минимальный <br> пакет
                            документов</span>
                    </div>
                </div>
                <div class="banner__action">
                    <div class="credit__card-cta-item">
                        <a href="#form" class="debit__card-cta-btn">Оформить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="conditions">
    <div class="container">
        <div class="conditions-block">
            <div class="conditions__block-img">
                <img src="../../img/lising/lising__block.png" alt="" class="condition__img">
            </div>
            <div class="conditions__block-content">
                <h2 class="conditions__block-title">Лизинг на выгодных условиях</h2>
                <ul class="conditions__block-list  conditions__block-list--big conditions__block-list--row-3">
                    <li class="conditions-block__item">
                        <span class="conditions-block__label">Фиксированная ставка</span>
                        <span class="conditions-block__value">Фиксированная процентная ставка в белорусских рублях
                            на весь срок лизинга</span>
                    </li>
                    <li class="conditions-block__item">
                        <span class="conditions-block__label">Без справки о доходах</span>
                        <span class="conditions-block__value">Вам понадобится только паспорт и водительское
                            удостоверение</span>
                    </li>
                    <li class="conditions-block__item">
                        <span class="conditions-block__label">Любой автомобиль</span>
                        <span class="conditions-block__value">Выбирайте новый автомобиль или автомобиль с пробегом
                            не старше 5 или 8 лет (в зависимости от марки)</span>
                    </li>
                    <li class="conditions-block__item">
                        <span class="conditions-block__label">Без залога и поручительства</span>
                        <span class="conditions-block__value">Мы не предъявляем требований к обеспечению</span>
                    </li>
                    <li class="conditions-block__item">
                        <span class="conditions-block__label">Обязательное страхование</span>
                        <span class="conditions-block__value">Ваш автомобиль будет застрахован</span>
                    </li>
                    <li class="conditions-block__item">
                        <span class="conditions-block__label">Быстрое рассмотрение</span>
                        <span class="conditions-block__value">Оперативное принятие решения о сделке в течение 1-го
                            часа</span>
                    </li>
                </ul>
                <div class="condition__block-action">
                    <a href="#form" class="condition__link">Подать заявку</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="registration">
    <div class="container">
        <div class="registration__block">
            <div class="registration__credits">
                <div class="registration__inner" id="form">
                    <div class="registration__inner-left">
                        <form action="RegLising" method="post">
                            <div class="credits__guide-title registration__title">Оформление заявки</div>
                            <div class="form__box-inner">
                                <div class="form__box-left">
                                    <label>
                                        ФИО
                                        <input class="form__box-input" data-rule="name" type="text" name="LisingFIO" required>
                                    </label>
                                    <label>
                                        Контактный телефон
                                        <input class="form__box-input" id="phone"
                                            type="text" name="LisingPhone" required>
                                    </label>
                                    <div class="registration__action">
                                        <button class="registration__btn" type="submit">Отправить заявку</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="registration__inner-right">
                        <ul class="registration__steps">
                            <li class="registration__step">
                                <div class="number__step">
                                    <div class="number__step-left">
                                        <img src="../../img/lising/lising__step.png" alt="" class="step__img">
                                    </div>
                                    <div class="number__step-text">
                                        <span class="number__step-title">Персональный менеджер</span>
                                        <p class="numer__step-text">Получить дополнительную информацию по лизингу вы
                                            можете по телефону:</p>
                                        <div class="numer__step-action">
                                            <a href="tel:+375297501847" class="numer__step-link">+375 (29) 750 18
                                                47</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="numer__label-text">
                                    *Автолизинг для физических лиц предусмотрен для приобретения новых или
                                    подержанных автомобилей, приобретаемых в автоцентрах.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/SmoothMovement.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/slick.min.js"></script>
<script src="/jquery.formstyler.min.js"></script>
<script src="/slider.js"></script>
<script src="/inputCheck.js"></script>
<script src="/jquery.formstyler.min.js"></script>
<script src="/jquery.maskedinput.js"></script>
<script src="/jquery.fancybox.min.js"></script>
<script src="/common.js"></script>
<script src="/jquery.min.js"></script>