<section class="rules__header">
    <div class="container">
        <div class="rules__title">
            Вопрос-ответ
        </div>
    </div>
</section>

<section class="accordion__doc">
    <div class="container">
        <div class="deposit-documents">
            <div class="accordion-item">
                <div class="accordion__title">
                    Что делать, если в салоне у дилера мне говорят, что не работают с MANYBANK?
                </div>
                <div class="accordion__text">
                    <p class="payKr__text">Возьмите у дилера информацию об интересующей Вас комплектации автомобиля,
                        либо прайс-лист, а также номер телефона диллера.</p>
                    <p class="payKr__text">Свяжитесь с менеджером нашего Банка по телефону +375 (29) 750-18-47, либо
                        оставьте заявку на сайте.</p>

                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion__title">
                    Кто является собственником автомобиля?
                </div>
                <div class="accordion__text">
                    <p class="payKr__text">Собственником автомобиля является Банк. По техническому паспорту автомобиля
                        лизингополучатель является владельцем. В графе “Особые отметки” указывается, что автомобиль
                        приобретен по договору финансовой аренды (лизинга). Право собственности на автомобиль перейдет к
                        лизингополучателю лишь после полного выкупа автомобиля.</p>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion__title">
                    Кто оплачивает «полное КАСКО» за автомобиль в лизинге?
                </div>
                <div class="accordion__text">
                    <p class="payKr__text">Автомобиль страхуется на условиях “полное каско” лизингополучателем.</p>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion__title">
                    Где ставится на учет автомобиль, приобретенный в лизинг?
                </div>
                <div class="accordion__text">
                    <p class="payKr__text">Автомобиль ставится на учет в ГАИ по месту жительства лизингополучателя.</p>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion__title">
                    Можно ли выкупить автомобиль ранее срока окончания?
                </div>
                <div class="accordion__text">
                    <p class="payKr__text">Да, но не ранее 1 года с момента передачи автомобиля в лизинг, согласно
                        законодательства РБ.</p>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion__title">
                    Возможно ли производить оплату лизинговых платежей в сумме превышающей ежемесячный лизинговый
                    платеж?
                </div>
                <div class="accordion__text">
                    <p class="payKr__text">Да, возможно уже начиная с первого месяца действия договора лизинга, путем
                        заключения дополнительного соглашения, направив письменное ходатайство в Банк.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="/SmoothMovement.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/slick.min.js"></script>
<script src="/jquery.formstyler.min.js"></script>
<script src="/slider.js"></script>
<script src="/accordion.js"></script>