    <section class="rules__header">
        <div class="container">
            <div class="rules__title">
                Как оплатить кредит?
            </div>
        </div>
    </section>

    <section class="accordion__doc">
        <div class="container">
            <div class="deposit-documents">
                <div class="accordion-item">
                    <div class="accordion__title">
                        В ОТДЕЛЕНИЯХ БАНКА
                    </div>
                    <div class="accordion__text">
                        <div class="faq__title">
                            <li>Оплата кредита с любой платежной карты MANYBANK.</li>
                            <li>Оплата наличными.</li>
                            <li>Без комиссии.</li>
                            <li>Платеж проводится в рамках банковского дня.</li>
                            <li>Обновление базы: ежедневно.</li>
                        </div>
                        <div class="credits__guide-title">Для погашения долга по карте (Халва и др.), вам необходимо:</div>
                        <div class="faq__title">
                            <li>Посетить любое отделение банка</li>
                            <li>Найти платежный терминал или обратится в кассу</li>
                            <li>Пополнить карту наличными или другой картой MANYBANK</li>
                        </div>
                        <div class="credits__guide-title">Для погашения кредита, вам необходимо:</div>
                        <div class="faq__title">
                            <li>Посетить любое отделение банка</li>
                            <li>Найти платежный терминал или обратится в кассу</li>
                            <li>Сообщить номер вашего кредитного договора</li>
                            <li>Сверить Ф.И.О.</li>
                            <li>Оплатить</li>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion__title">
                        ЧЕПЕЗ ЕРИП И ПОГАШЕНИЕ В ДРУГИХ БАНКАХ РБ
                    </div>
                    <div class="accordion__text">
                        <div class="faq__title">
                            <li>В любом другом банке РБ через: инфокиоск, интернет-банк, мобильный банк, ussd банк.</li>
                            <li>Без комиссии.</li>
                            <li>Платеж в этот же день.</li>
                            <li>Обновление базы: онлайн.</li>
                        </div>
                        <div class="credits__guide-title">Для погашения кредита, вам необходимо:</div>
                        <div class="faq__title">
                            <li>В дереве ЕРИП выбрать Финансовые услуги > Банки > MANYBANK > Платеж по кредиту.</li>
                            <li>Ввести номер кредитного договора.</li>
                            <li>Ввести требуемую сумму.</li>
                            <li>Сделать платеж.</li>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion__title">
                        В ОТДЕЛЕНИЯХ БЕЛПОЧТЫ
                    </div>
                    <div class="accordion__text">
                        <div class="faq__title">
                            <li>Наличным.</li>
                            <li>Без комиссии.</li>
                            <li>Платеж проводится на следующий банковский день.</li>
                            <li>Обновление базы: 1 и 15 числа каждого месяца.</li>
                        </div>
                        <div class="credits__guide-title">Для погашения кредита, вам необходимо:</div>
                        <div class="faq__title">
                            <li>Посетить любое отделение Белпочты.</li>
                            <li>Сообщить, что вы желаете погасить кредит МТБанка.</li>
                            <li>Назвать свою Фамилию и , если потребуется, номер вашего кредитного договора.</li>
                            <li>Сделать платеж.</li>
                        </div>
                    </div>
                </div>    

                <div class="accordion-item">
                    <div class="accordion__title">
                        ЧЕРЕЗ ИНТЕРНЕТ-БАНК
                    </div>
                    <div class="accordion__text">
                        <div class="faq__title">
                            <li>Оплата кредита с любой платежной карты МТБанка.</li>
                            <li>Без комиссии.</li>
                            <li>Платеж проводится в рамках банковского дня</li>
                            <li>Обновление базы: онлайн</li>
                        </div>
                        <div class="credits__guide-title">Для погашения задолженности по карте (Халва и др.), вам необходимо:</div>
                        <div class="faq__title">
                            <li>Выбрать карту, на которой есть задолженность</li>
                            <li>На странице карты нажать кнопку "Пополнить"</li>
                            <li>Выбрать карту, с которой нужно произвести пополнение</li>
                            <li>Введите сумму которую вы хотите перевести</li>
                            <li>Оплатить</li>
                        </div>
                    </div>
                </div>    

                <div class="accordion-item">
                    <div class="accordion__title">
                        ЧЕРЕЗ ИНТЕРНЕИ – КАРТАМИ VISA И MasterCard
                    </div>
                    <div class="accordion__text">
                        <p class="payKr__text">Задолженность по кредитным картам можно погасить через сервис онлайн переводов perevod.MANUBANK.by (с карт других банков, а также с карт MANYBANK)</p>
                        <div class="credits__guide-title">Погашение кредитов</div>
                        <p class="payKr__text">Оплата кредита с любой платежной карты VISA, MasterCard.
                            Платеж проводится на следующий банковский день.
                            Комиссия за зачисление средств на карты MANYBANK через perevod.MANYBANK.by не взимается. Банки-эмитенты могут взимать дополнительные комиссии при переводе.
                            Обновление базы: раз в месяц.</p>
                        <div class="credits__guide-title">Для погашения кредита, вам необходимо:</div>
                        <div class="faq__title">
                            <li>Ввести номер карты с которой вы желаете осуществить платеж.</li>
                            <li>Ввести номер кредитного договора (формат 38ХХХХХХ или VE-хххх).</li>
                            <li>Сверить данные о платеже.</li>
                            <li>Оплатить.</li>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </section>


        <script src="/SmoothMovement.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/slick.min.js"></script>
        <script src="/jquery.formstyler.min.js"></script>
        <script src="/slider.js"></script>
        <script src="/accordion.js"></script>