    <section class="rules__header">
        <div class="container">
            <div class="rules__title">
                Правила пользования банковскими платежными карточками "MANYBANK"
            </div>
        </div>
    </section>

    <section class="accordion__doc">
        <div class="container">
            <div class="deposit-documents">
                <div class="accordion-item">
                    <div class="accordion__title">
                        Правила пользования банковской платежной картой ОАО "MANYBANK"
                    </div>
                    <div class="accordion__text">
                        <p>
                            Банковская платежная карта ОАО «MANYBANK» (далее – Карта) – платежный инструмент,
                            обеспечивающий
                            доступ к банковскому счету клиента (далее – Счет), открытому в ОАО «MANYBANK» (далее –
                            Банк), и
                            проведение расчетов в безналичной форме за товары (работы, услуги), получение наличных
                            денежных
                            средств и осуществление иных операций по счету клиента в пределах остатка и разрешенного
                            лимита
                            овердрафта (дебетовая Карта) или по счету по учету кредитов в пределах кредитной линии
                            (кредитная Карта).
                            Основная Карта – Карта, выдаваемая владельцу Счета на основании договора об использовании
                            карты
                            (кредитного договора) в качестве первой Карты к Счету или второй (последующей) Карты в
                            случае,
                            если она относится к иной категории и (или) платежной системе.
                            Дополнительная Карта – дебетовая Карта, выдаваемая другому физическому лицу на основании
                            полномочий, предоставленных владельцем Счета.
                            Условия обслуживания Карты регулируются договором об использовании карты (кредитным
                            договором),
                            внутренними документами Банка, правилами платежной системы и законодательством Республики
                            Беларусь. К внутренним документам Банка относятся настоящие Правила пользования банковской
                            платежной картой ОАО «MANYBANK», Сборник размеров платы за банковские операции, выполняемые
                            ОАО
                            «MANYBANK», условия Счета клиента, памятки для клиентов, решения Правления Банка и других
                            коллегиальных органов Банка. Внутренние документы Банка могут изменяться Банком в
                            одностороннем
                            порядке в течение срока действия договора об использовании карты (кредитного договора) с
                            предварительным уведомлением Клиента в соответствии с договором об использовании карты
                            (кредитным договором).
                            Держатель Карты (Клиент) – физическое лицо, использующее Карту на основании договора об
                            использовании карты (кредитного договора) или в силу полномочий, предоставленных владельцем
                            Счета, заключившим договор об использовании карты с Банком.
                            Карта является собственностью Банка и подлежит возврату в Банк по истечении срока ее
                            действия
                            или при закрытии счета.
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion__title">
                        ПОЛУЧЕНИЕ КАРТЫ
                    </div>
                    <div class="accordion__text">
                        <p>
                            Карта может быть получена только при личном обращении держателя в Банк.
                            Держатель обязан поставить личную подпись на оборотной стороне Карты при ее получении.
                            Отсутствие подписи на Карте является законным основанием для отказа в ее обслуживании и
                            изъятия
                            из обращения без объяснения причин и каких-либо компенсационных выплат со стороны Банка.
                            За открытие Счета, выдачу Карты и предоставление возможности осуществлять операции с ее
                            использованием (обслуживание Карты) Банк взимает плату в соответствии со Сборником размеров
                            платы за банковские операции, выполняемые ОАО «MANYBANK».
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion__title">
                        ПИН-КОД
                    </div>
                    <div class="accordion__text">
                        <p>
                            ПИН-код – персональный идентификационный номер, используемый для идентификации держателя
                            Карты.
                            ПИН-код состоит из 4-х цифр, выдается вместе с Картой в запечатанном конверте и защищает
                            денежные средства на Счете от несанкционированного использования в банкоматах,
                            платежно-справочных терминалах самообслуживания, терминалах в пунктах выдачи наличных и
                            организациях торговли (сервиса).
                            По Картам внутренней платежной системы «Белкарт» все вышеуказанные операции с использованием
                            Карты подтверждаются ПИН-кодом. По Картам международной платежной системы Visa International
                            операции выдачи наличных денежных средств в пунктах выдачи наличных (кассах) других банков,
                            расчетов в безналичной форме за товары (работы, услуги) посредством терминалов в пунктах
                            выдачи
                            наличных и организациях торговли (сервиса) могут также подтверждаться подписью держателя,
                            которая сверяется с подписью на Карте.
                            Держатель должен держать ПИН-код в тайне, а также хранить его отдельно от Карты.
                            При совершении операции предоставляется только три попытки для ввода ПИНкода. После третьего
                            неверного ввода ПИН-кода Карта автоматически блокируется. Для ее разблокировки необходимо
                            позвонить в Службу сервиса клиентов по телефону +375-29-750-218-47 (круглосуточно). После
                            этого
                            держателю предоставляется только одна попытка для ввода верного ПИН-кода, в противном случае
                            Карта снова блокируется.
                            При утрате (подозрении в утрате) ПИН-кода Карта подлежит переоформлению на основании
                            заявления
                            Клиента (в этом случае изготавливается дубликат карты).
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion__title">
                        СРОК ДЕЙСТВИЯ КАРТЫ
                    </div>
                    <div class="accordion__text">
                        <p>
                            Карта действительна до последнего дня месяца и года, указанных под номером Карты на ее
                            лицевой
                            стороне (в формате ММ/ГГ, где ММ – месяц, ГГ – год). Переоформление дебетовой Карты на новый
                            срок (обновление Карты) осуществляется на основании заявления Клиента. Отказ от обновления
                            Карты
                            и закрытие Счета осуществляется в соответствии с договором об использовании карты.
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion__title">
                        ПОЛЬЗОВАНИЕ КАРТОЙ
                    </div>
                    <div class="accordion__text">
                        <p>
                            Пользоваться Картой имеет право только ее держатель (лицо, чьи подпись и/или имя и фамилия
                            на
                            ней нанесены). Другим лицам пользоваться Картой категорически запрещено. В случае передачи
                            Карты
                            и/или ПИН-кода другому лицу все потраченные с использованием Карты денежные средства
                            списываются
                            со счета в безусловном порядке.
                            Держатель вправе распоряжаться средствами в пределах остатка средств на Счете и разрешенного
                            лимита овердрафта (в случае дебетовой Карты) или в пределах кредитной линии (в случае
                            кредитной
                            Карты) с учетом ограничений (лимитов), которые могут быть установлены Банком.
                            В случае повреждения Карты необходимо обратиться в Банк для представления заявления о ее
                            переоформлении (в этом случае изготавливается дубликат Карты).
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion__title">
                        ОПЕРАЦИИ С ИСПОЛЬЗОВАНИЕМ КАРТЫ
                    </div>
                    <div class="accordion__text">
                        <p>
                            С использованием Карты можно рассчитываться за товары (работы, услуги), а также совершать
                            операции с наличными денежными средствами. В пунктах обслуживания Карты размещаются товарные
                            знаки (логотипы) платежной системы, которые соответствуют товарному знаку платежной системы
                            на
                            лицевой стороне Карты.
                            При совершении операции с использованием Карты держатель должен ввести ПИН-код на клавиатуре
                            для
                            ввода ПИН-кода или поставить подпись на карт-чеке (в зависимости от способа идентификации
                            держателя), предварительно убедившись, что в карт-чеке правильно указаны номер Карты и
                            другие
                            данные операции (тип операции, дата, сумма, валюта). Вводя ПИН-код (подписывая картчек),
                            держатель подтверждает операцию и дает указание Банку на ее осуществление.
                            При снятии наличных денежных средств в банкомате, кассе может взиматься плата в соответствии
                            со
                            Сборником размеров платы за банковские операции, выполняемые ОАО «MANYBANK». При снятии
                            наличных
                            денежных средств в другом банке, сумма операции может быть увеличена на сумму комиссии по
                            тарифам данного банка.
                            При осуществлении с использованием Карты операции в валюте, отличной от валюты Счета,
                            осуществляется автоматическая конверсия суммы операции в валюту Счета.
                            Счет может быть пополнен не только его владельцем, но и иным лицом в соответствии с
                            законодательством Республики Беларусь.
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion__title">
                        ВЫПИСКА ПО СЧЕТУ КЛИЕНТА
                    </div>
                    <div class="accordion__text">
                        <p>
                            Контроль правильности отражения операций по Счету осуществляется посредством выписки,
                            которая
                            предоставляется при личном обращении владельца Счета в подразделение Банка или по
                            электронной
                            почте на адрес, указанный в заявлении-анкете. В выписку включаются все операции по Счету на
                            дату
                            их обработки, а также сумма остатка на Счете без учета операций, находящихся в обработке.
                            При обнаружении расхождений между операциями, содержащимися в выписке и реально
                            совершенными,
                            владелец Счета должен в срок не позднее 15-го числа месяца, следующего за месяцем обработки
                            операции, обратиться в Банк с письменной претензией. В отсутствие письменной претензии в
                            течение
                            данного срока все операции считаются подтвержденными и претензии по ним не принимаются.
                            На основании письменного заявления Банк может предоставить дополнительную выписку по Счету с
                            взиманием платы в установленном размере.
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion__title">
                        УТЕРЯ, КРАЖА, НЕЗАКОННОЕ ИСПОЛЬЗОВАНИЕ КАРТЫ
                    </div>
                    <div class="accordion__text">
                        <p>
                            Если Карта утрачена (утеряна, украдена) либо постороннему лицу стали известны ее реквизиты
                            или
                            ПИН-код, держатель должен немедленно обратиться в Службу сервиса клиентов по телефону
                            +375-29-750-18-47 (круглосуточно). После устного заявления об утрате Карты держатель должен
                            представить в Банк письменное заявление о внесении Карты в стоп-лист. До того момента
                            владелец
                            Счета продолжает нести ответственность за операции, совершенные с использованием утраченной
                            Карты.
                            Все Карты, объявленные украденными или утерянными, вносятся в список недействительных Карт
                            (стоп-лист) для блокировки Карт.
                            Новую Карту Банк выдает на основании заявления о переоформлении Карты в соответствии с
                            правилами
                            Банка. За переоформление Карты Банк взимает вознаграждение в установленном размере.
                            Держатель обязан представить по требованию Банка информацию для расследования обстоятельств
                            утраты Карты (реквизитов Карты). Если Банк имеет сведения о том, что незаконное
                            использование
                            Карты произошло с согласия держателя, то ответственность за совершенные с использованием
                            Карты
                            операции несет владелец Счета. При нахождении Карты, ранее объявленной украденной или
                            утерянной,
                            держатель должен незамедлительно сообщить об этом в Банк.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



        <script src="/SmoothMovement.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/slick.min.js"></script>
        <script src="/jquery.formstyler.min.js"></script>
        <script src="/slider.js"></script>
        <script src="/accordion.js"></script>
