<section class="rules__header">
    <div class="container">
        <div class="rules__title">
            Тарифы и условия
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="payKr__text">Автолизинг для физических лиц - это уникальный продукт, разработанный для того, чтобы
            вы максимально быстро и с минимальным пакетом документов могли приобрести новое или б/у авто не старше 8
            лет.
        </div>

        <div class="tariffs__inner">
            <div class="tariffs__content">
                <div class="rules__title">Быстрый лизинг</div>
                <div class="pricing__content">
                    <ul class="pricing__list">
                        <li class="pricing__item">
                            <div class="pricing__container">
                                <div class="pricing__container-left">
                                    <div class="payKr__text">Сумма финансирования (С НДС)</div>
                                </div>
                                <div class="pricing__container-right">
                                    <div class="payKr__text">От 5 000 до 150 000 </div>
                                    <div class="pricing__text">60 000 белорусских рублей (если Заявитель физическое
                                        лицо,
                                        зарегистрированное в качестве ИП менее 2 лет назад)</div>
                                </div>
                            </div>
                        </li>
                        <li class="pricing__item">
                            <div class="pricing__container">
                                <div class="pricing__container-left">
                                    <div class="payKr__text">Валюта лизинга</div>
                                </div>
                                <div class="pricing__container-right">
                                    <div class="payKr__text">BYN</div>
                                </div>
                            </div>
                        </li>
                        <li class="pricing__item">
                            <div class="pricing__container">
                                <div class="pricing__container-left">
                                    <div class="payKr__text">Срок (для новых автомобилей)</div>
                                </div>
                                <div class="pricing__container-right">
                                    <div class="payKr__text">От 12 до 84 месяцев</div>
                                </div>
                            </div>
                        </li>
                        <li class="pricing__item">
                            <div class="pricing__container">
                                <div class="pricing__container-left">
                                    <div class="payKr__text">Срок (для б/у автомобилей)</div>
                                </div>
                                <div class="pricing__container-right">
                                    <div class="payKr__text">Oт 12 до 36 месяцев</div>
                                </div>
                            </div>
                        </li>
                        <li class="pricing__item">
                            <div class="pricing__container">
                                <div class="pricing__container-left">
                                    <div class="payKr__text">Срок рассмотрения</div>
                                </div>
                                <div class="pricing__container-right">
                                    <div class="payKr__text">В течение часа</div>
                                </div>
                            </div>
                        </li>
                        <li class="pricing__item">
                            <div class="pricing__container">
                                <div class="pricing__container-left">
                                    <div class="payKr__text">Обеспечение</div>
                                </div>
                                <div class="pricing__container-right">
                                    <div class="payKr__text">Без требований к обеспечению</div>
                                </div>
                            </div>
                        </li>
                        <li class="pricing__item">
                            <div class="pricing__container">
                                <div class="pricing__container-left">
                                    <div class="payKr__text">Страхование</div>
                                </div>
                                <div class="pricing__container-right">
                                    <div class="payKr__text">Обязательное на условиях: «полное каско», «мультидрайв»,
                                        «без франшизы» на любой территории (необходимая зона покрытия – «все страны
                                        мира»)</div>
                                </div>
                            </div>
                        </li>
                        <li class="pricing__item">
                            <div class="pricing__container">
                                <div class="pricing__container-left">
                                    <div class="payKr__text">Размер авансового платежа (при стоимости предмета лизинга
                                        (с НДС) до 80 000 белорусских рублей)</div>
                                </div>
                                <div class="pricing__container-right">
                                    <div class="payKr__text">Не менее 20% от стоимости предмета лизинга (с НДС)</div>
                                </div>
                            </div>
                        </li>
                        <li class="pricing__item">
                            <div class="pricing__container">
                                <div class="pricing__container-left">
                                    <div class="payKr__text">Размер авансового платежа (при стоимости предмета лизинга
                                        (с НДС) до 80 000 белорусских рублей и сроке финансирования от 61 месяца до 84
                                        месяцев)</div>
                                </div>
                                <div class="pricing__container-right">
                                    <div class="payKr__text">Не менее 25% от стоимости предмета лизинга (с НДС)</div>
                                </div>
                            </div>
                        </li>
                        <li class="pricing__item">
                            <div class="pricing__container">
                                <div class="pricing__container-left">
                                    <div class="payKr__text">Платежный период</div>
                                </div>
                                <div class="pricing__container-right">
                                    <div class="payKr__text">С 1 по 18 число</div>
                                </div>
                            </div>
                        </li>
                        <li class="pricing__item">
                            <div class="pricing__container">
                                <div class="pricing__container-left">
                                    <div class="payKr__text">Требования к Заявителю</div>
                                </div>
                                <div class="pricing__container-right">
                                    <div class="payKr__text">Возраст не менее 23 лет на дату обращения по оформлению
                                        лизинга и не более 63 лет на дату выкупа предмета лизинга.
                                        Стаж работы на последнем месте не менее 3-х месяцев на текущем месте работы на
                                        территории РБ (требование не предъявляется к пенсионерам).</div>
                                </div>
                            </div>
                        </li>
                        <li class="pricing__item">
                            <div class="pricing__container">
                                <div class="pricing__container-left">
                                    <div class="payKr__text">Пакет документов</div>
                                </div>
                                <div class="pricing__container-right">
                                    <div class="payKr__text">
                                        Паспорт</br>
                                        Водительское удостоверение</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>